.#{$prefix-h}container {
  .#{$prefix-h}header {
    background-color: $white-ter;
    padding: 0 1rem;
  }

  .#{$prefix-h}gallery {
    background-color: $grey-dark;
  }

  .#{$prefix-h}article {
    background-color: $white-ter;
    padding: 1rem;

    .#{$prefix-h}content {
      padding: 1rem;
    }

    .#{$prefix-h}metadata {
      padding: 1rem;

      .#{$prefix-h}widget {
        padding-bottom: 1rem;
      }
    }
  }
}
