/*HTML Fixes*/
  a.anchor {
      display: block;
      position: relative;
      top: -100px;
      visibility: hidden;
  }

/*Main CSS*/
  body {
    padding-top: 80px;
  }

/*Nav CSS*/
  #nav-bar {
    padding: 15px;
  }
  #nav-container {

  }
  #nav-logo {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400; /*400, 400 Italic, 700*/
    font-size: 2em !important;
    color: black;
  }
  #nav-menu a {
    font-family: 'PT Sans', sans-serif !important;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.9em;
    color: black;
  }
  #nav-menu a:hover {
  	border-bottom: 1px solid black;
  }
  #nav-menu a:active {
  	border-bottom: 1px solid black;
  }

/*Content CSS*/
  .dash {
    content: "_";
    padding-bottom: 10px;
  }
  .section p{
    color: grey;
  }
  .section.invert a {
    color: #eeeeee;
  }
  .section.invert p {
    color: #eeeeee;
  }
  .section.invert h4 {
    color: #eeeeee;
  }
  #section-portfolio{
    padding: 20px;
  }
  .main-highlight {
    font-size: 0.8em !important;
    opacity: 0.5;
    margin-bottom: 10px;
  }
  .main-highlight.invert {
    color: #eeeeee;
  }
  .main {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  #main-about {
    background-image: url('../img/web/about-bg-clear.png');
    background-position: 50% 30%;
    background-color: #dddddd;
  }
  #main-portfolio {
    background-color: #ffffff;
  }
  #main-contact {
    background-color: #eeeeee;
  }
  #main-widget {
    background-image: url('../img/web/about-bg-clear.png');
    background-color: #666666;
    background-position: 50% 20%;
  }
  #main-footer {
    background-color: #333333;
  }
  .widget-icon {
    color: #eeeeee;
    padding: 10px;
  }

/*Portfolio CSS*/
  .item {
    font-family: 'PT Sans', sans-serif ;
    display: block;
  }
  .item-title{
    text-transform: uppercase;
    font-weight: 800;  /*Normal 400Normal 400 ItalicBold 700Bold 700 Italic*/
    color: black;
  }
  .item-subtitle{
    font-weight: 400;  /*Normal 400Normal 400 ItalicBold 700Bold 700 Italic*/
    color: grey;
  }
