{{ $dir := (delimit (slice "content" .Type .Params.path) "/") }}
{{ $img := (delimit (slice $dir "assets/cover.jpg") "/") }}
<div class="h-cover" style="background-image: url('{{ .Site.BaseURL }}{{ $img }}')">
  <div class="h-square"></div>
  <div class="h-content h-invert b-has-text-centered">
    <a class="h-link" href="{{ .Permalink }}"><img class="h-logo" src="{{ .Site.BaseURL }}{{ $img }}">
      <h6 class="h-title">{{ .Title }}</h6></a>
    <p class="h-list">{{ partial "snippets/tools" . }}</p>
  </div>
</div>
