{{ partial "core/head" . }}

<section id="main" class="b-section h-section-main">
  <div class="h-container b-container">

    {{ partial "renderer-targets/container/header" (dict "title" .Title "subtitle" "Project")}}

    <div class="h-gallery b-columns b-is-mobile">
      <div class="b-column b-is-12 b-is-paddingless">
        {{ $dir := (delimit (slice "content" .Type .Params.path) "/") }}
        {{ if isset .Params "photos" }}
          {{ $img := (delimit (slice $dir "assets" (index .Params.photos 0)) "/") }}
          {{ partial "renderer-targets/gallery/banner" (dict "title" .Title "img" $img "node" . )}}
        {{ else }}
          {{ $img := (delimit (slice $dir "assets/cover.jpg") "/") }}
          {{ partial "renderer-targets/gallery/banner" (dict "title" .Title "img" $img "node" . )}}
        {{ end }}
      </div>
    </div>

    <div class="h-article b-columns b-is-multiline b-is-mobile">
      <div class="h-content b-column b-is-12-mobile b-is-two-thirds-tablet b-is-three-quarters-desktop">
        <h6>Content</h6>
        <hr>
        <div class="b-content">
          {{ .Content }}
        </div>
      </div>
      <div class="h-metadata b-column b-is-12-mobile b-is-one-third-tablet b-is-one-quarter-desktop">
        {{ partial "widgets/metadata" . }}
      </div>
    </div>

    {{ if .Params.photos }}
      <div id="links" class="h-gallery b-columns b-is-multiline b-is-mobile">
        {{ $globalnode := . }}
        {{ range .Params.photos }}
          <div class="b-column b-is-half-mobile b-is-one-third-tablet b-is-one-third-desktop b-is-paddingless">
            {{ $dir := (delimit (slice "content" $globalnode.Type $globalnode.Params.path) "/") }}
            {{ $img := (delimit (slice $dir "assets" . ) "/") }}
            {{ partial "renderer-targets/gallery/gallery" (dict "img" $img "node" $globalnode )}}
          </div>
        {{ end }}
      </div>
      <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
          <div class="slides"></div>
          <h3 class="title"></h3>
          <a class="prev">‹</a>
          <a class="next">›</a>
          <a class="close">×</a>
          <a class="play-pause"></a>
          <ol class="indicator"></ol>
      </div>
      <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
      </script>
    {{ end }}

    {{ partial "renderer-targets/container/header" (dict "title" .Title "subtitle" "/Project")}}

  </div>
</section>

{{ partial "core/foot" . }}
