{{ partial "core/head" . }}

<section id="main" class="b-section h-section-main">
  <div class="h-container b-container">

    <div class="h-header b-columns b-is-mobile">
      <div class="b-column b-is-half">
        <h6 class="h-light">
          {{ .Title }} _
        </h6>
      </div>
      <div class="b-column b-is-half b-has-text-right">
        <h6 class="h-light">
          &lt; Project &gt;
        </h6>
      </div>
    </div>

    <div class="h-gallery b-columns b-is-mobile">
      {{ $currentNode := . }}
      {{ if .Params.photos }}
        <div class="b-column b-is-12 b-is-paddingless">
          {{ $dir := (delimit (slice "content" .Type .Params.path) "/") }}
          {{ $img := (delimit (slice $dir "assets/cover.jpg") "/") }}
          <div class="h-banner" style="background-image: url('{{ .Site.BaseURL }}{{ $img }}')">
            <div class="h-content">
              <img class="h-logo" src="{{ .Site.BaseURL }}{{ $img }}">
              <h6 class="h-title">{{ .Title }}</h6>
              <p class="h-list">{{ partial "snippets/tools" . }}</p>
            </div>
          </div>
        </div>
      {{ end }}
    </div>

    <div class="h-article b-columns b-is-multiline b-is-mobile">
      <div class="h-content b-column b-is-12-mobile b-is-two-thirds-tablet b-is-8-desktop">
        <h6>Project</h6>
        <hr>
        <div class="b-content">
          {{ .Content }}
        </div>
      </div>
      <div class="h-metadata b-column b-is-12-mobile b-is-one-third-tablet b-is-one-quarter-desktop">
        <h6>Metadata</h6>
        <hr>
        {{ if .Date }}
          <div class="h-widget">
            <h6>Date:</h6>
            <p class="h-list">{{ partial "snippets/date" . }}<p>
          </div>
        {{ end }}
        {{ if .Params.tools }}
          <div class="h-widget">
            <h6>Tools:</h6>
            <p class="h-list">{{ partial "snippets/tools" . }}<p>
          </div>
        {{ end }}
        {{ if .Params.link }}
          <div class="h-widget">
            <h6>Link:</h6>
            <p class="h-list">{{ partial "snippets/link" . }}<p>
          </div>
        {{ end }}
        {{ if .Params.code }}
          <div class="h-widget">
            <h6>Code:</h6>
            <p class="h-list">{{ partial "snippets/code" . }}<p>
          </div>
        {{ end }}
        {{ if .Params.program }}
          <div class="h-widget">
            <h6>Program:</h6>
            <p class="h-list">{{ partial "snippets/program" . }}<p>
          </div>
        {{ end }}
        {{ if .Params.course }}
          <div class="h-widget">
            <h6>Course:</h6>
            <p class="h-list">{{ partial "snippets/course" . }}<p>
          </div>
        {{ end }}
        {{ if .Params.project }}
          <div class="h-widget">
            <h6>Project:</h6>
            <p class="h-list">{{ partial "snippets/project" . }}<p>
          </div>
        {{ end }}
      </div>
    </div>

    <div class="h-gallery b-columns b-is-multiline b-is-mobile">
      {{ $currentNode := . }}
      {{ if .Params.photos }}
        {{ range .Params.photos }}
          {{ $dir := (delimit (slice "content" $currentNode.Type $currentNode.Params.path) "/") }}
          {{ $img := (delimit (slice $dir "assets" . ) "/") }}
          <div class="b-column b-is-12-mobile b-is-half-tablet b-is-one-third-desktop b-is-paddingless">
            <img src="{{ $currentNode.Site.BaseURL }}{{$img}}">
          </div>
        {{ end }}
      {{ end }}
    </div>

    <div class="h-header b-columns b-is-mobile">
      <div class="b-column b-is-half">
        <h6 class="h-light">
          {{ .Title }} _
        </h6>
      </div>
      <div class="b-column b-is-half b-has-text-right">
        <h6 class="h-light">
          &lt; /Project &gt;
        </h6>
      </div>
    </div>

  </div>
</section>

{{ partial "core/foot" . }}
