<section id="header" class="b-section h-section-header">
  <div class="b-container">
    <div class="b-columns b-is-mobile">

      <div class="b-column b-is-narrow">
        <nav class="h-menu-main">
          <h6>
            <a><img class="h-logo" src="{{ .Site.BaseURL }}/static/default/img/htko-10-full.svg"></a>
            <a class="h-light {{ if .IsHome }}b-is-active{{ end }}" href="{{ .Site.BaseURL }}"><strong>Tony</strong>&nbsp;Ko</a>
            {{ $currentNode := . }}
            {{ range .Site.Menus.main }}
              <a class="{{if $currentNode.IsMenuCurrent "main" . }}b-is-active{{end}}" href="{{.URL}}"><i class='fa {{ .Pre }}'></i><span class="b-is-hidden-mobile">&nbsp;{{ .Name }}</span></a>
            {{end}}
          </h6>
        </nav>
      </div>
      <div class="b-column b-has-text-right">
        <nav class="h-menu-main">
          <h6>
            {{ $currentNode := . }}
            {{ range .Site.Menus.links }}
              <a class="{{if $currentNode.IsMenuCurrent "links" . }}b-is-active{{end}}" href="{{.URL}}"><i class='fa {{ .Pre }}'></i><span class="b-is-hidden-mobile">&nbsp;{{ .Name }}</span></a>
            {{end}}
          </h6>
        </nav>
      </div>

    </div>
  </div>
</section>
