.#{$prefix_h}article {
  background-color: $white-ter;
  padding: 2rem;

  .#{$prefix_h}content {
    padding: 2rem;
  }

  .#{$prefix_h}metadata {
    padding: 2rem;

    .#{$prefix_h}widget {
      padding-bottom: 1rem;
    }
  }
}
