.#{$prefix_h}gallery {
  // background-color: $grey-dark;

  .#{$prefix_h}hero {
    background-color: $grey-lighter;
  }

  .#{$prefix_h}box {
    background: no-repeat center center;
    background-size: cover;
    position: relative;

    .#{$prefix_h}bg {
      background: no-repeat center center;
      background-size: cover;

      .#{$prefix_h}banner {
        height: 30rem;
        width: 100%;
      }
    }

    .#{$prefix_h}overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0);

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    .#{$prefix_h}content {
      padding: 1rem;
    }

    .#{$prefix_h}logo {
      height: 40%;
      width: auto;
      margin-bottom: 1rem;
    }

    .#{$prefix_h}center {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
    }
    .#{$prefix_h}badge {
      margin: 0.2rem;
      padding: 0.2rem 0.4rem;
      border-radius: 0.2rem;
      background-color: rgba(0,0,0,0.6);
    }
  }
}
