nav.#{$prefix_h}menu-main {
  .#{$prefix_h}logo {
    height: 4rem;
    width: auto;
  }

  a {
    margin-left: 1.2rem;
  }

  a:first-child {
    margin-left: 0;
  }
}

nav.#{$prefix_h}menu-main, nav.#{$prefix_h}menu-main * {
  display: inline-flex;
  align-items: center;
  height: 100%;
}
