# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Secrets
*.jks
*.p8
*.p12
*.pem
*.key
*.mobileprovision
*.orig.*
.env*
!.env.example

# OS
.DS_Store
desktop.ini
.vscode

# Typescript
.tsbuildinfo

# Testing
.jest/
coverage

# Turbo
.turbo

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Yarn - only root yarn.lock allowed
package-lock.json
apps/*/yarn.lock
packages/*/yarn.lock

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js Artifacts
.next/
.vercel/
out/
build

# Plasmo Artifacts
.plasmo