# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# root lock file
package-lock.json
yarn-lock.json
*/pnpm-lock.yaml

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# editor
*.tsbuildinfo

# build
.vercel/
.turbo/
.plasmo/
.next/

# testing
.jest/
coverage/

# artifacts
out/
build/

# secrets
*.jks
*.p8
*.p12
*.pem
*.key
*.mobileprovision
*.orig.*
.env*
!.env.example

# misc
.DS_Store
desktop.ini
