<div class="h-box h-stretch" style="background-image: url('{{ .node.Site.BaseURL }}content/default/releases/github-2/assets/cover.png')">
  <div class="h-bg h-stretch" style="background-image: url('{{ .node.Site.BaseURL }}{{ .img }}')">
    <figure class="b-image b-is-1by1"> <img src="{{ .node.Site.BaseURL }}/static/default/img/px.png"> </figure>
  </div>
  <div class="h-content h-overlay h-stretch h-invert h-center b-has-text-centered">
    <a href="{{ .node.Site.BaseURL }}{{ .img }}">
      <div class="h-badge"> <i class="fa fa-search-plus fa-4x"></i> </div>
    </a>
  </div>
</div>
