{{ partial "core/head" . }}

<section id="main" class="b-section h-section-main">
  <div class="h-container b-container">

    {{ partial "renderer-targets/container/header" (dict "title" "Intro" "subtitle" "Hero")}}

    <div class="h-gallery b-columns b-is-multiline b-is-mobile">
      <div class="h-hero b-column b-is-12-mobile b-is-one-half-tablet b-is-paddingless">
        {{ $img := "content/default/releases/github-1/assets/cover.png"}}
        {{ partial "renderer-targets/gallery/hero" (dict "title" ">> Welcome <<" "subtitle" "I am **Tony** Ko, Front End Developer." "img" $img "ratio" "b-is-2by1" "url" "/page/about-me/README/")}}
      </div>
      <div class="h-hero b-column b-is-half-mobile b-is-one-quarter-tablet b-is-paddingless">
        {{ $img := "/content/project/code/personal/angelfind-app/assets/cover.jpg"}}
        {{ partial "renderer-targets/gallery/hero" (dict "title" "Angelfind" "desc" "Event recommendation app based on user interest history." "img" $img "ratio" "b-is-1by1" "url" "/project/code/personal/angelfind-app/README/")}}
      </div>
      <div class="h-hero b-column b-is-half-mobile b-is-one-quarter-tablet b-is-paddingless">
        {{ $img := "/content/project/code/personal/proton-light-switch/assets/cover.jpg"}}
        {{ partial "renderer-targets/gallery/hero" (dict "title" "Proton Light Switch" "desc" "Custom built wifi enabled smart switch." "img" $img "ratio" "b-is-1by1" "url" "/project/code/personal/proton-light-switch/README/")}}
      </div>
    </div>

    {{ partial "renderer-targets/container/header" (dict "title" "Recent 8" "subtitle" "Gallery")}}

    <div class="h-gallery b-columns b-is-multiline b-is-mobile">
      {{ range first 8 (where .Data.Pages "Type" "project") }}
      <div class="b-column b-is-half-mobile b-is-one-quarter-tablet b-is-one-quarter-desktop b-is-paddingless">
        {{ .Render "box" }}
      </div>
      {{ end }}
    </div>

    {{ partial "renderer-targets/container/header" (dict "title" "Recent 8" "subtitle" "/Gallery")}}

  </div>
</section>

{{ partial "core/foot" . }}
