{{ partial "core/head" . }}

<section id="main" class="section">
  <div class="container">
    <div class="columns is-multiline is-mobile">
      <!-- <div class="column is-12">
        <h1>Recent 4 _</h1>
      </div> -->
      {{ range first 4 (where .Data.Pages "Type" "project") }}
        <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop" >
          {{ .Render "cover" }}
        </div>
      {{ end }}
      <!-- <div class="column is-12">
        <h1>Random 8 _</h1>
      </div> -->
      {{ range first 8 (shuffle (where .Data.Pages "Type" "project")) }}
        <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop" >
          {{ .Render "cover" }}
        </div>
      {{ end }}
    </div>
  </div>
</section>


{{ partial "core/foot" . }}
