{{ partial "core/head" . }}

<section id="main" class="b-section h-section-main">
  <div class="h-container b-container">

    {{ partial "renderer-targets/container/header" (dict "title" "Random Eighter" "subtitle" "Gallery")}}

    <div class="h-gallery b-columns b-is-multiline b-is-mobile">
      {{ range first 8 (shuffle (where .Data.Pages "Type" "project")) }}
      <div class="b-column b-is-half-mobile b-is-one-third-tablet b-is-one-third-desktop b-is-paddingless">
        {{ .Render "box" }}
      </div>
      {{ end }}
    </div>

    {{ partial "renderer-targets/container/header" (dict "title" "Random Eighter" "subtitle" "/Gallery")}}

  </div>
</section>

{{ partial "core/foot" . }}
