{
  "extends": ["wesbos", "plugin:vue/recommended", "prettier/vue"],
  "rules": {
    "vue/component-name-in-template-casing": ["error", "PascalCase"],
    "no-new": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@", "./sources/frontend/src"],
          ["~", "./sources/node_modules"]
        ],
        "extensions": [".scss", ".sass", ".js", ".jsx", ".vue", ".json"]
      }
    }
  }
}
