{{ partial "core/head" . }}

<section id="main" class="b-section h-section-main">
  <div class="h-container b-container">

    {{ partial "renderer-targets/container/header" (dict "title" .Title "subtitle" "Page")}}

    <div class="h-gallery b-columns b-is-mobile">
      <div class="b-column b-is-12 b-is-paddingless">
        {{ $dir := (delimit (slice "content" .Type .Params.path) "/") }}
        {{ $img := (delimit (slice $dir "assets/dp.png") "/") }}
        {{ partial "renderer-targets/box/banner" (dict "title" .Title "logo" $img "node" . )}}
      </div>
    </div>

    <div class="h-article b-columns b-is-mobile">
      <div class="h-content b-column b-is-12">
        <h6>Content</h6>
        <hr>
        <div class="b-content">
          {{ .Content }}
        </div>
      </div>
    </div>

    {{ partial "renderer-targets/container/header" (dict "title" .Title "subtitle" "/Page")}}

  </div>
</section>

{{ partial "core/foot" . }}
