{{ partial "core/head" . }}

<main id="main">
  <div class="row" id="content">
    <div class="large-7 columns text-center">
      <div class="card">
      {{ $currentNode := . }}
      {{ if and (isset .Params "photo") .Params.photos }}
        {{ range .Params.photo }}
          <img src="{{ .Site.BaseURL }}content/{{ $currentNode.Type }}/{{ index $currentNode.Params.topics 0 }}/{{ $currentNode.Params.parent }}/{{lower $currentNode.Title | urlize }}/assets/{{ . }}">
        {{ end }}
      {{ else }}
        <img src="{{ .Site.BaseURL }}content/default/code/github-{{ index (shuffle (seq 1 3)) 0 }}/assets/mockup-mobile.jpg">
      {{ end }}
      </div>
    </div>
    <div class="large-5 columns" data-sticky-container>
      <div class="sticky" data-sticky data-sticky-on="large" data-anchor="content" data-margin-top="10">

        <div class="card">
          <div class="card-divider">
            <h6>{{ .Title }}</h6>
          </div>
          <div class="card-section">
            {{ .Content }}
          </div>
          {{ if .Params.tools }}
            <div class="card-divider">
              <nav>
                <h6>Tools:</h6>
                  {{ partial "snippet/tools" . }}
              </nav>
            </div>
          {{ end }}
          {{ if .Params.link }}
            <div class="card-divider">
              <nav>
                <h6>Link:</h6>
                  {{ partial "snippet/link" . }}
              </nav>
            </div>
          {{ end }}
        </div>
      </div>

    </div>
  </div>
</main>

{{ partial "core/foot" . }}
