<h6>Proficiency</h6>
<hr>
<div class="h-widget">
  <h6>CSS:</h6>
  <p class="h-list">{{ .Site.Data.about.proficiency.css }}</p>
  <progress class="b-progress b-is-small" value="{{ .Site.Data.about.proficiency.css_progress }}" max="100"style="width: 100%">{{ .Site.Data.about.proficiency.css_progress }}%</progress>
</div>
<div class="h-widget">
  <h6>HTML:</h6>
  <p class="h-list">{{ .Site.Data.about.proficiency.html }}</p>
  <progress class="b-progress b-is-small" value="{{ .Site.Data.about.proficiency.html_progress }}" max="100"style="width: 100%">{{ .Site.Data.about.proficiency.html_progress }}%</progress>
</div>
<div class="h-widget">
  <h6>Javascript:</h6>
  <p class="h-list">{{ .Site.Data.about.proficiency.js }}</p>
  <progress class="b-progress b-is-small" value="{{ .Site.Data.about.proficiency.js_progress }}" max="100"style="width: 100%">{{ .Site.Data.about.proficiency.js_progress }}%</progress>
</div>
<div class="h-widget">
  <h6>Python:</h6>
  <p class="h-list">{{ .Site.Data.about.proficiency.python }}</p>
  <progress class="b-progress b-is-small" value="{{ .Site.Data.about.proficiency.python_progress }}" max="100" style="width: 100%">{{ .Site.Data.about.proficiency.python_progress }}%</progress>
</div>
<hr>
<h6>Contact</h6>
<hr>
<div class="h-widget">
  <h6>Cell:</h6>
  <p class="h-list">{{ .Site.Data.about.contact.cell }}</p>
</div>
<div class="h-widget">
  <h6>Email:</h6>
  <p class="h-list">{{ .Site.Data.about.contact.email }}</p>
</div>
