<h6>Contact</h6>
<hr>
<div class="h-widget">
  <h6>Cell:</h6>
  <p class="h-list">{{ .Site.Data.about.contact.cell }}</p>
</div>
<div class="h-widget">
  <h6>Email:</h6>
  <p class="h-list">{{ .Site.Data.about.contact.email }}</p>
</div>
<!-- <hr>
<h6>Proficiency</h6>
<hr>
<div class="h-widget">
  <h6>CSS / HTML:</h6>
  <p class="h-list">{{ .Site.Data.about.proficiency.css_html }}</p>
</div>
<div class="h-widget">
  <h6>Node.js / JS:</h6>
  <p class="h-list">{{ .Site.Data.about.proficiency.js }}</p>
</div>
<div class="h-widget">
  <h6>jQuery / Cheerio.js:</h6>
  <p class="h-list">{{ .Site.Data.about.proficiency.jquery }}</p>
</div>
<div class="h-widget">
  <h6>Gulp.js:</h6>
  <p class="h-list">{{ .Site.Data.about.proficiency.gulp }}</p>
</div>
<div class="h-widget">
  <h6>Sass / Scss:</h6>
  <p class="h-list">{{ .Site.Data.about.proficiency.sass }}</p>
</div>
<div class="h-widget">
  <h6>Express.js:</h6>
  <p class="h-list">{{ .Site.Data.about.proficiency.express }}</p>
</div>
<div class="h-widget">
  <h6>Ionic:</h6>
  <p class="h-list">{{ .Site.Data.about.proficiency.ionic }}</p>
</div>
<div class="h-widget">
  <h6>Python:</h6>
  <p class="h-list">{{ .Site.Data.about.proficiency.python }}</p>
</div> -->
