#weather-icon {
  opacity: 0.75;
}
#weather-unit-btn {
  opacity: 0.5;
}
#weather-stats {
  padding: 20px;
}
#weather-temp {
  display: inline-block;
}
#weather-stats h1 {
  font-size: 3em;
  line-height: 0.85em;
  opacity: 0.75;
  margin: 0px;
}
#weather-unit {
  height: 30px;
  width: auto;
  margin-top: -10px;
  opacity: 0.5;
}
#weather-stats h2 {
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  opacity: 0.75;
  margin-top: 0px;
}
#weather-stats p {
  font-size: 1em;
  line-height: 0.75em;
  opacity: 0.5;
  margin: 0px;
}
