@tailwind base;
@tailwind components;
@tailwind utilities;

/* **PRIMITIVE TOKENS** */
/* Never use these variables directly, used only to define SEMANTIC TOKENS. */
@layer base {
  /* colors */
  :root {
    --color-neutral-white: #ffffff;
    --color-neutral-black: #000000;

    --color-neutral-900: #0b0e13;
    --color-neutral-800: #11151d;
    --color-neutral-700: #171c27;
    --color-neutral-600: #242a38;
    --color-neutral-600a: #2c3241;
    --color-neutral-500: #404859;
    --color-neutral-400: #5c6475;
    --color-neutral-300: #818898;
    --color-neutral-200: #c4c9d9;
    --color-neutral-100: #e0e3ed;
    --color-neutral-50: #f1f2f6;
    --color-neutral-50a: #f9fafb;

    --color-brand-900: #00162f;
    --color-brand-800: #001c3c;
    --color-brand-700: #00244d;
    --color-brand-600: #002855;
    --color-brand-500: #043770;
    --color-brand-400: #335377;
    --color-brand-300: #546f8d;
    --color-brand-200: #8a9cb1;
    --color-brand-100: #b0bcca;
    --color-brand-50: #f3f6f8;

    --color-blue-900: #1b2cc1;
    --color-blue-800: #0d3cdc;
    --color-blue-700: #1f50ea;
    --color-blue-600: #266bfa;
    --color-blue-500: #1e7eff;
    --color-blue-400: #458eff;
    --color-blue-300: #67a8ff;
    --color-blue-200: #94c5ff;
    --color-blue-100: #c0d9ff;
    --color-blue-50: #e5f0ff;
    --color-blue-600-12a: #266bfa1f;

    --color-red-900: #771d1d;
    --color-red-800: #9b1c1c;
    --color-red-700: #c81e1e;
    --color-red-600: #e02424;
    --color-red-500: #f05252;
    --color-red-400: #f98080;
    --color-red-300: #f8b4b4;
    --color-red-200: #fbd5d5;
    --color-red-100: #fde8e8;
    --color-red-50: #fdf2f2;
    --color-red-600-12a: #e024241f;

    --color-green-900: #1c542c;
    --color-green-800: #246f39;
    --color-green-700: #2f8f4a;
    --color-green-600: #3cb75f;
    --color-green-500: #42c968;
    --color-green-400: #68d486;
    --color-green-300: #80db9a;
    --color-green-200: #a8e6ba;
    --color-green-100: #c4eed0;
    --color-green-50: #ecfaf0;
    --color-green-600-12a: #3cb75f1f;

    --color-yellow-900: #664e09;
    --color-yellow-800: #86660c;
    --color-yellow-700: #ad8410;
    --color-yellow-600: #dda914;
    --color-yellow-500: #f3ba16;
    --color-yellow-400: #f5c845;
    --color-yellow-300: #f7d163;
    --color-yellow-200: #f9df94;
    --color-yellow-100: #fbeab7;
    --color-yellow-50: #fef8e8;
    --color-yellow-600-12a: #dda9141f;

    /* Colors used in charts */
    --color-purple-600: #A855F7;
    --color-purple-400: #CC9DFA;
    --color-purple-50: #F2E6FD;
    --color-brown-600: #8B4513;
    --color-brown-400: #CC8C61;
    --color-brown-50: #F2D0BA;
    --color-teal-600: #008080;
    --color-teal-400: #6ECCCC;
    --color-teal-50: #CDF4F4;
    --color-orange-600: #FFA500;
    --color-orange-400: #FFC054;
    --color-orange-50: #FFECCC;
    --color-amber-600: #C05621;
    --color-amber-400: #DD6B20;
    --color-amber-50: #FFFAF0;
    --color-pink-600: #DB2777;
    --color-pink-400: #F472B6;
    --color-pink-50: #FFF5F7;
    --color-cyan-600: #22D3EE;
    --color-cyan-400: #7DD3FC;
    --color-cyan-50: #ECFEFF;
    --color-lime-600: #A3E635;
    --color-lime-400: #D9F99D;
    --color-lime-50: #F7FEE7;
    --color-indigo-600: #6366F1;
    --color-indigo-400: #A5B4FC;
    --color-indigo-50: #EEF2FF;
  }
}

/* **Extra Utility Classes** */

/* override native element style */
strong {
  @apply font-semibold;
}

/* custom utility classes */
.hide-number-arrows::-webkit-inner-spin-button,
.hide-number-arrows::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
.hide-number-arrows {
  appearance: textfield;
}

.gradient-mask-x {
  mask-image: linear-gradient(to right, transparent 15%, rgba(0, 0, 0, 1) 50%, transparent 85%);
}
.gradient-mask-y {
  mask-image: linear-gradient(to top, transparent 15%, rgba(0, 0, 0, 1) 50%, transparent 85%);
}

/* additional utility classes */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
