/* Design System */
/* This file contains only light/dark mode variables. */
/* The use of mode specific variables allows us to define light and dark mode values within a single set of variables. */

/* SEMANTIC TOKENS - Dark Mode */
/* Tokens are split between background, foreground and stroke. */
@layer base {
  /* background */
  .dark {
    /* neutral, forced */
    --color-background-neutral-high: var(--color-neutral-700);
    --color-background-neutral-medium: var(--color-neutral-800);
    --color-background-neutral-low: var(--color-neutral-900);
    --color-background-neutral-overlay: var(--color-neutral-500);
    --color-background-forced-medium: var(--color-neutral-800);
    --color-background-forced-high: var(--color-neutral-700);
    --color-background-forced-low: var(--color-neutral-900);
    --color-background-forced-overlay: var(--color-neutral-500);

    /* components */
    --color-background-button-shaded-rest: var(--color-neutral-100);
    --color-background-button-shaded-hover: var(--color-neutral-50);
    --color-background-button-shaded-disabled: var(--color-neutral-400);
    --color-background-button-outlined-rest: var(--color-neutral-600a);
    --color-background-button-outlined-hover: var(--color-neutral-500);
    --color-background-button-outlined-disabled: var(--color-neutral-800);
    --color-background-input-rest: var(--color-neutral-800);
    --color-background-input-hover: var(--color-neutral-800);
    --color-background-input-disabled: var(--color-neutral-white);

    /* info, warning, success, destructive */
    --color-background-info-high: var(--color-blue-500);
    --color-background-info-medium: var(--color-blue-500);
    --color-background-info-low: var(--color-blue-600-12a);
    --color-background-warning-high: var(--color-yellow-500);
    --color-background-warning-medium: var(--color-yellow-300);
    --color-background-warning-low: var(--color-yellow-600-12a);
    --color-background-success-high: var(--color-green-500);
    --color-background-success-medium: var(--color-green-300);
    --color-background-success-low: var(--color-green-600-12a);
    --color-background-destructive-high: var(--color-red-500);
    --color-background-destructive-medium: var(--color-red-300);
    --color-background-destructive-low: var(--color-red-600-12a);
  }

  /* foreground */
  .dark {
    /* neutral, forced */
    --color-foreground-neutral-high: var(--color-neutral-100);
    --color-foreground-neutral-medium: var(--color-neutral-300);
    --color-foreground-neutral-low: var(--color-neutral-400);
    --color-foreground-forced-high: var(--color-neutral-white);
    --color-foreground-forced-medium: var(--color-neutral-800);
    --color-foreground-forced-low: var(--color-neutral-900);

    /* components */
    --color-foreground-button-shaded-rest: var(--color-neutral-600);
    --color-foreground-button-shaded-hover: var(--color-neutral-600);
    --color-foreground-button-shaded-disabled: var(--color-neutral-700);
    --color-foreground-button-outlined-rest: var(--color-neutral-200);
    --color-foreground-button-outlined-hover: var(--color-neutral-100);
    --color-foreground-button-outlined-disabled: var(--color-neutral-400);
    --color-foreground-input-rest: var(--color-neutral-300);
    --color-foreground-input-hover: var(--color-neutral-100);
    --color-foreground-input-disabled: var(--color-neutral-400);

    /* info, warning, success, destructive */
    --color-foreground-info-high: var(--color-blue-500);
    --color-foreground-info-medium: var(--color-blue-400);
    --color-foreground-info-low: var(--color-blue-200);
    --color-foreground-warning-high: var(--color-yellow-400);
    --color-foreground-warning-medium: var(--color-yellow-200);
    --color-foreground-warning-low: var(--color-yellow-50);
    --color-foreground-success-high: var(--color-green-500);
    --color-foreground-success-medium: var(--color-green-400);
    --color-foreground-success-low: var(--color-green-200);
    --color-foreground-destructive-high: var(--color-red-500);
    --color-foreground-destructive-medium: var(--color-red-400);
    --color-foreground-destructive-low: var(--color-red-200);
  }

  /* stroke */
  .dark {
    /* neutral */
    --color-stroke-neutral-high: var(--color-neutral-400);
    --color-stroke-neutral-medium: var(--color-neutral-500);
    --color-stroke-neutral-low: var(--color-neutral-600);

    --color-stroke-button-shaded-rest: var(--color-brand-100);
    --color-stroke-button-shaded-hover: var(--color-brand-100);
    --color-stroke-button-shaded-disabled: var(--color-brand-300);
    --color-stroke-button-outlined-rest: var(--color-blue-100);
    --color-stroke-button-outlined-hover: var(--color-blue-100);
    --color-stroke-button-outlined-disabled: var(--color-blue-300);
    --color-stroke-input-rest: var(--color-neutral-400);
    --color-stroke-input-hover: var(--color-neutral-200);
    --color-stroke-input-disabled: var(--color-neutral-500);

    /* info, warning, success, destructive */
    --color-stroke-info: var(--color-blue-300);
    --color-stroke-warning: var(--color-yellow-700);
    --color-stroke-success: var(--color-green-700);
    --color-stroke-destructive: var(--color-red-400);
  }

  /* chart */
  .dark {
    --color-chart-yellow-high: var(--color-yellow-600);
    --color-chart-yellow-medium: var(--color-yellow-400);
    --color-chart-yellow-low: var(--color-yellow-50);
    --color-chart-green-high: var(--color-green-600);
    --color-chart-green-medium: var(--color-green-400);
    --color-chart-green-low: var(--color-green-50);
    --color-chart-purple-high: var(--color-purple-600);
    --color-chart-purple-medium: var(--color-purple-400);
    --color-chart-purple-low: var(--color-purple-50);
    --color-chart-red-high: var(--color-red-600);
    --color-chart-red-medium: var(--color-red-400);
    --color-chart-red-low: var(--color-red-50);
    --color-chart-brown-high: var(--color-brown-600);
    --color-chart-brown-medium: var(--color-brown-400);
    --color-chart-brown-low: var(--color-brown-50);
    --color-chart-teal-high: var(--color-teal-600);
    --color-chart-teal-medium: var(--color-teal-400);
    --color-chart-teal-low: var(--color-teal-50);
    --color-chart-orange-high: var(--color-orange-600);
    --color-chart-orange-medium: var(--color-orange-400);
    --color-chart-orange-low: var(--color-orange-50);
    --color-chart-secondary-high: var(--color-blue-600);
    --color-chart-secondary-medium: var(--color-blue-400);
    --color-chart-secondary-low: var(--color-blue-50);
    --color-chart-primary-high: var(--color-blue-300);
    --color-chart-primary-medium: var(--color-blue-100);
    --color-chart-primary-low: var(--color-blue-50);
    --color-chart-grey-high: var(--color-neutral-600);
    --color-chart-grey-medium: var(--color-neutral-400);
    --color-chart-grey-low: var(--color-neutral-50);
  }

  /* shadows */
  .dark {
    --shadow-inset: -5px 0px 8px 0px rgba(0, 0, 0, 0.06) inset;
    --shadow-sm: 0px 0px 1px 0px rgba(0, 0, 0, 0.56), 0px 6px 6px -6px rgba(0, 0, 0, 0.64);
    --shadow-md: 0px 0px 1px 0px rgba(0, 0, 0, 0.56), 0px 12px 12px -6px rgba(0, 0, 0, 0.64);
    --shadow-lg: 0px 0px 1px 0px rgba(0, 0, 0, 0.56), 0px 24px 24px -6px rgba(0, 0, 0, 0.64);
    --shadow-xl: 0px 0px 1px 0px rgba(0, 0, 0, 0.72), 0px 48px 48px -6px rgba(0, 0, 0, 0.88);
  }
}
