/* CSS for the mobile devices */
/* Basic CSS rules */

.only-desktop {
  display: none;
}

.only-tablets {
  display: none;
}

.only-smartphones {
  display: block;
}

.only-tablets-and-smartphones {
  display: block;
}

.only-desktop-and-tablets {
  display: none;
}

.site-content {
  padding-top: 20px;
}

/* Containers */
#gk-top .widget,
#sidebar .widget,
#gk-bottom .widget,
#gk-bottom2 .widget,
.gk-cols .widget,
.gk-3-cols[data-cols="2"] .widget-wrap,
.gk-3-cols[data-cols="3"] .widget-wrap,
.gk-3-cols[data-cols="4"] .widget-wrap,
.gk-3-cols[data-cols="5"] .widget-wrap,
.gk-3-cols[data-cols="6"] .widget-wrap,
.gk-3-cols[data-cols="7"] .widget-wrap,
.gk-3-cols[data-cols="8"] .widget-wrap,
.gk-3-cols[data-cols="9"] .widget-wrap,
.gk-menu .gk-cols > div {
  clear: both !important;
  float: none !important;
  margin: 0 auto 20px auto !important;
  width: 100%;
}

.gk-cols[data-cols="2"] > div,
.gk-cols[data-cols="3"] > div,
.gk-cols[data-cols="4"] > div,
.gk-cols[data-cols="5"] > div {
  padding-bottom: 20px !important;
  width: 100%;
}

#gk-top,
#gk-bottom,
#gk-bottom2,
.page.page-template-template-noheader-php #gk-top {
  margin-top: 50px;
  padding: 0 10px;
}

#gk-top,
.page.page-template-template-noheader-php #gk-top {
  margin-bottom: -30px;
}
/* Items */
.gallery br {
  display: none;
}

.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item {
  width: 50%;
}

.gk-3-cols[data-cols="2"] .widget,
.gk-3-cols[data-cols="3"] .widget {
  padding: 0;
  width: 100%;
}

.item-author {
  width: 100%;
}

.comments-title,
.comment-reply-title {
  font-size: 24px;
}

#comments {
  margin: 0;
}

.comment-content-wrapper {
  margin: 0;
  padding: 0;
}

.comment-body {
  font-size: 13px;
  margin: 8px 0;
}

.comment-author {
  position: static;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.comment-metadata > a {
  display: block;
  float: left;
}

.comment-metadata > strong.fn {
  display: block;
  text-align: left;
}

.comment-content {
  clear: both;
  overflow: hidden;
}

.comment-content p {
  clear: both;
}

.search-form .search-submit {
  margin: 10px 0;
}

/* Subpage fixes */

article header h1,
article header h2 {
  font-size: 28px;
}

/* Other */
.gk-nsp-art {
  width: 99% !important;
}

.gk-nsp-art .gk-nsp-image {
  height: auto;
  width: 100%;
}

.entry-related a {
  width: 100%!important;
}

.error404 .page-content > h2 {
  font-size: 24px;
}

.error404 .page-content {
  margin-bottom: 10px;
  padding: 20px;
}

.single blockquote,
.page blockquote {
  margin: 40px 0;
  padding: 90px 20px;
}

.single blockquote:before,
.page blockquote:before {
  left: 25px;
}

.single blockquote:after,
.page blockquote:after {
  right: 25px;
}

blockquote strong {
  font-size: 13px;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 { 
  margin: 25px 0 15px; 
}

.gk-block-text-left, 
.gk-block-text-right {
  font-size: 15px;
  width: 50%;
} 
.gk-block-text-center {
  font-size: 15px;
  width: 80%;
}

.portfolio .item-list[data-cols="2"] > article,
.portfolio .item-list[data-cols="3"] > article,
.portfolio .item-list[data-cols="4"] > article {
  width: 100%!important;
}

.grid > .portfolio .item-filter,
.portfolio.portfolio-grid .item-filter,
.category .portfolio .item-filter,
.portfolio .item-filter {
  clear: both;
  float: none;
  left: -50px;
  margin: -25px auto 35px auto!important;
  text-align: center;
  width: 40%;
}

.gk-logo-wrap {
  right: 0;
  width: 100%;
}

.gk-half-page {
  max-width: 98%!important;
}

.gk-logo-wrap > .site {
  text-align: center;
}

.gk-logo-wrap > .site > a {
  display: inline-block;
  float: none;
}

.gk-logo-wrap .gk-logo, 
.gk-logo-wrap .gk-logo-text {
  margin-top: 25px!important; 
}

.site-content > .bigtitle {
  text-align: center;
}

#page-nav .gk-logo-text > span + span {
  display: none;
}

#gk-logo-text {
  margin: 40px 0 40px 7px!important;
}

.social-menu > li {
  color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  height: 20px;
  margin: 5px 0 0 0;
  overflow: hidden;
  width: 23px;
}

.social-menu > li:before {
  font-size: 20px;
  line-height: 20px;
}

 #page-nav.gk-logo {
  max-width: 40%
 }

 #gk-menu-button > span {
  height: 80px;
  overflow: hidden;
  width: 85px;
 }

.single .entry-title,
.page .entry-title,
.item-header .item-basic-info h1 {
  font-size: 28px;
  letter-spacing: 1px;
}

.page .item-info {
  margin: 0;
}

.page-template-template-noheader-php #primary {
  padding-bottom: 100px;
}

.none .gk-tabs-wrap > ol li {
  margin: 0!important;
  width: 100%;
}

.author-info > h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.author-details {
  width: 80%;
}

.author-info img {
  max-width: 20%;
}

.project-info > * {
  float: left;
  width: 100%!important;
}

.single .item-author,
.page .item-author {
  margin: -56px auto 35px;
}

.gk-is-wrapper-gk-photo figcaption {
  top: 20%;
}

.gk-is-wrapper-gk-photo figcaption h2 {
  font-size: 18px;
}

.gk-is-wrapper-gk-photo figcaption p {
  font-size: 24px;
  line-height: 1;
  margin: 0 0 20px 0;
}

.gk-is-wrapper-gk-photo figcaption a {
  padding: 0 32px;
}

#gk-footer {
  width: 99%;
}

#gk-bg .gk-wide-image img {
  max-width: 640px!important;
}

.entry-related a {
  border: 0;
  margin: 0 auto 20px auto;
}
.entry-related img {
  margin: 0 auto;
}

.entry-related a strong {
  text-align: center;
  margin-top: 10px;
}

.grid .bigtitle > .header,
.category .bigtitle > .header {
  margin-bottom: 20px;
}

.contact-form, 
.contact-details {
  width: 100%;
  float: left;
}

.contact-details {
  margin-top: 50px;
}
