/* CSS for the small tablet devices */

.gk-overlay-menu > ul > li {
  font-size: 32px;
}

.gk-block-text-left {
  margin-left: -10px;
}

.gk-block-text-right {
  margin-right: -10px;
}

p.gk-info,
p.gk-tips,
p.gk-warning {
  font-size: 14px;
}

.entry-content pre,
.entry-content code {
  font: 300 12px/1.4 'Curier New', monospace!important;
  padding: 12px 20px;
}

p.numblocks {
  font-size: 15px;
}

/* Menu */
.gk-overlay-menu > ul > li {
  width: 100%;
}

#overlay-menu-content .sub-menu {
  margin-left: 0!important;
  opacity: 1!important;
  position: static;
}

#overlay-menu-content .sub-menu {
  padding-top: 20px!important;
}

#overlay-menu-content .sub-menu .sub-menu {
  padding: 20px 10px 0px 20px!important;
}

#overlay-menu-content-wrap1 .gk-overlay-menu {
  text-align: center;
  text-indent: -20px;
}

#overlay-menu-content .sub-menu > li, 
#overlay-menu-content .sub-menu .sub-menu > li {
  opacity: 1!important;
  -webkit-transform: translateX(0)!important;
  -moz-transform: translateX(0)!important;
  -ms-transform: translateX(0)!important;
  -o-transform: translateX(0)!important;
  transform: translateX(0)!important; 
}

.author-info > h1 {
  font-size: 32px;
  width: 30%;
}

.author-details {
  width: 50%;
}

.item-header .item-basic-info,
.item-header .item-intro-text {
  width: 100%;
}

.project-info > * {
  float: left;
  width: 50%!important;
}
#gk-bg .gk-wide-image img {
  max-width: 1040px!important;
}

.gk-is-wrapper-gk-photo figcaption {
  top: 30%;
}