@font-face {
  font-family: 'Carbon';
  src: url('carbon-thin.woff2') format('woff2'),
    url('carbon-thin.woff') format('woff');
  font-weight: thin;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Carbon';
  src: url('carbon-thin-italic.woff2') format('woff2'),
    url('carbon-thin-italic.woff') format('woff');
  font-weight: thin;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Carbon';
  src: url('carbon-regular.woff2') format('woff2'),
    url('carbon-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Carbon';
  src: url('carbon-regular-italic.woff2') format('woff2'),
    url('carbon-regular-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Carbon';
  src: url('carbon-bold.woff2') format('woff2'),
    url('carbon-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Carbon';
  src: url('carbon-bold-italic.woff2') format('woff2'),
    url('carbon-bold-italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}