<footer id="footer" class="b-section">
  <div class="b-container">
    <div class="b-columns b-is-gapless b-is-mobile">
      <div id="logo" class="b-column b-is-3-mobile b-is-1-tablet">
        <a href="#"><img src="lib/base/img/logo/copyright.svg" alt="Copyright Logo"></a>
      </div>
      <div id="name" class="b-column b-is-7-mobile b-is-5-tablet">
        <p>Copyright 2017 - Tony Ko</p>
      </div>
      <div id="menu" class="b-column">
        <a href="#"> <i class="fa fa-share-alt" aria-hidden="true"></i> &nbsp; <span class="b-is-hidden-mobile">Share This Page</span>    </a>
      </div>
      <div id="links" class="b-column b-is-narrow ">
        <a href="#"> <i class="fa fa-chevron-up" aria-hidden="true"></i> &nbsp; </a>
      </div>
    </div>
  </div>
</footer>
