<header id="header" class="b-section">
  <div class="b-container">
    <nav class="b-columns b-is-gapless b-is-mobile" role="menu">
      <div id="logo" class="b-column b-is-3-mobile b-is-1-tablet">
        <a href="#" role="menuitem"><img src="lib/framework/img/htko-10-full.svg" alt="Tony Ko's Portfolio Logo"></a>
      </div>
      <div id="name" class="b-column b-is-7-mobile b-is-5-tablet">
        <a href="#" role="menuitem">Tony Ko</a>
        <p>Aspiring Front End Developer<span class="b-is-hidden-touch">, with extensive experience in design.</span></p>
      </div>
      <div id="menu" class="b-column">
        <a href="#" role="menuitem"> <i class="fa fa-code" aria-hidden="true"></i>        &nbsp; <span class="b-is-hidden-mobile">Code</span>            </a>
        <a href="#" role="menuitem"> <i class="fa fa-paint-brush" aria-hidden="true"></i> &nbsp; <span class="b-is-hidden-mobile">GFX</span>             </a>
        <a href="#" role="menuitem"> <i class="fa fa-university" aria-hidden="true"></i>  &nbsp; <span class="b-is-hidden-mobile">Interior Design</span> </a>
      </div>
      <div id="links" class="b-column b-is-narrow ">
        <a href="#" role="menuitem"> <i class="fa fa-github-alt" aria-hidden="true"></i>  &nbsp; </a>
        <a href="#" role="menuitem"> <i class="fa fa-linkedin" aria-hidden="true"></i>    &nbsp; </a>
        <a href="#" role="menuitem"> <i class="fa fa-id-card-o" aria-hidden="true"></i>   &nbsp; </a>
      </div>
    </nav>
  </div>
</header>
