{{ partial "core/head" . }}

<section id="main" class="b-section h-section-main">
  <div class="h-container b-container ">

    {{ partial "renderer-targets/htko-framework/container/header" (dict "title" .Title "subtitle" "Gallery")}}

    <div class="h-gallery b-columns b-is-multiline b-is-mobile">
      {{ range $index, $page := .Paginator.Pages }}
      <div class="b-column b-is-half-mobile b-is-one-third-tablet b-is-one-quarter-desktop b-is-paddingless">
        {{ .Render "box" }}
      </div>
      {{ end }}
    </div>

    {{ partial "renderer-targets/htko-framework/container/header" (dict "title" .Title "subtitle" "Gallery")}}

  </div>
</section>

{{ partial "core/foot" . }}
