<div class="h-box h-stretch" style="background-image: url('{{ .node.Site.BaseURL }}content/default/releases/github-1/assets/cover.png')">
  <div class="h-bg h-stretch" style="background-image: url('{{ .node.Site.BaseURL }}{{ .img }}')">
    <figure class="b-image h-banner">
      <img class="h-banner" src="{{ .node.Site.BaseURL }}/static/default/img/px.png">
    </figure>
  </div>
  <div class="h-content h-overlay h-stretch h-invert h-center b-has-text-centered">
    {{ if .logo }}
      <img class="h-logo" src="{{ .node.Site.BaseURL }}{{ .logo }}">
    {{ end }}
    <a href="{{ .node.Permalink }}">
      <h4 class="h-title">{{ .title }}</h4>
    </a>
    <p class="h-list">{{ partial "snippets/tools" .node }}</p>
  </div>
</div>
