// ****************************************************************************************************
// Colors
// ****************************************************************************************************

// new colors
$red: #DE4C71;

// add to bootstrap color map
$colors: ();


// ****************************************************************************************************
// Fonts
// ****************************************************************************************************

// override fonts
$font-family-sans-serif:  'Open Sans', sans-serif;
$headings-font-family:    'Roboto Condensed', sans-serif;


// ****************************************************************************************************
// Spacing & Sizing
// ****************************************************************************************************

// spacers, used for .p-* and .m-* helpers
// existing: 0: 0x, 1: .25x, 2: .5x, 3: 1x, 4: 1.5x, 5: 3x
$spacer: 1rem;
$spacers: (
  5: ($spacer * 2),
  6: ($spacer * 3),
  7: ($spacer * 4),
  8: ($spacer * 5),
  9: ($spacer * 6)
);


// ****************************************************************************************************
// Custom
// ****************************************************************************************************

// custom variables
$header-height: 5rem;