// ****************************************************************************************************
// Colors
// ****************************************************************************************************

// grayscale
$white:    hsl(0, 0, 100%);
$gray-100: hsl(0, 0, 90%);
$gray-200: hsl(0, 0, 80%);
$gray-300: hsl(0, 0, 70%);
$gray-400: hsl(0, 0, 60%);
$gray-500: hsl(0, 0, 50%);
$gray-600: hsl(0, 0, 40%);
$gray-700: hsl(0, 0, 30%);
$gray-800: hsl(0, 0, 20%);
$gray-900: hsl(0, 0, 10%);
$black:    hsl(0, 0, 0%);

// palette
$red: #DE4C71;
$yellow: #FBD57D;

// palette map
$colors: (
  // "warm": $warm
);

// theme colors
$primary: $yellow;

// body colors
$body-bg: $gray-900;
$body-color: $gray-400;

// aux colors
$link-color: $gray-200;
$link-hover-color: rgba($primary, 0.75);
$border-color: $body-color;


// ****************************************************************************************************
// Fonts
// ****************************************************************************************************

// font family
$font-family-sans-serif:  'Open Sans', sans-serif;
$headings-font-family:    'Roboto Condensed', sans-serif;

// font size
$font-size-base:              1rem;
$font-size-sm:                $font-size-base * 0.85;
$font-size-lg:                $font-size-base * 1.25;


// ****************************************************************************************************
// Spacing & Sizing
// ****************************************************************************************************

// spacers, used for .p-* and .m-* helpers
// existing: 0: 0x, 1: .25x, 2: .5x, 3: 1x, 4: 1.5x, 5: 3x
$spacer: 1rem;
$spacers: (
  5: ($spacer * 2),
  6: ($spacer * 3),
  7: ($spacer * 4),
  8: ($spacer * 5),
  9: ($spacer * 6)
);


// ****************************************************************************************************
// Custom
// ****************************************************************************************************

// custom variables
$header-height: 6rem;