<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img class="logo" src="{{ .Site.BaseURL }}/static/default/img/htko-10-full.svg" alt="Bulma logo">
      </a>
      <a class="nav-item {{ if .IsHome }}is-active{{ end }}" href="{{ .Site.BaseURL }}">{{ .Site.Params.subtitle | safeHTML }}</a>
      {{ $currentNode := . }}
      {{ range .Site.Menus.main }}
        <a class="nav-item is-tab {{if $currentNode.IsMenuCurrent "main" . }}is-active{{end}}" href="{{.URL}}">{{ .Pre }}<span class="show-for-medium">{{ .Name }}</span></a>
      {{end}}
    </div>
    <div class="nav-right nav-menu is-active">
      {{ $currentNode := . }}
      {{ range .Site.Menus.links }}
        <a class="nav-item is-tab {{if $currentNode.IsMenuCurrent "links" . }}is-active{{end}}" href="{{.URL}}">{{ .Pre }}<span class="show-for-medium">{{ .Name }}</span></a>
      {{end}}
    </div>
  </div>
</nav>
