<main id="main" class="b-section">
  <div class="b-container">
    <section id="hero" class="b-columns b-is-gapless b-is-mobile">
      <div class="b-column b-is-3-mobile b-is-1-tablet"></div>
      <div class="b-column">
        <div class="content">
          <h1>Hi, I'm Tony Ko</h1>
          <h5>Passionate about web development,</h5>
          <h5>design, and everything about UX</h5>
          <br>
          <a class="b-button b-is-white">See my portfolio</a>
        </div>
      </div>
      <div class="b-column b-is-3-mobile b-is-1-tablet"></div>
    </section>

  </div>
</main>
