<main id="main" class="b-section">
  <div class="b-container">
    <section id="hero" class="b-columns b-is-gapless b-is-mobile">
      <div class="b-column b-is-3-mobile b-is-1-tablet"></div>
      <div class="b-column">
        <div class="content">
          <%- page.content %>
        </div>
      </div>
      <div class="b-column b-is-3-mobile b-is-1-tablet"></div>
    </section>

  </div>
</main>
